@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");

$font-title: "Julee", cursive;
$font-btn: "Play", sans-serif;

$colors: (
  dark-color-shadow: rgb(0, 0, 0, 0.6),
  white-color: #ffffff,
  second-color: #4173f9,
  second-color-opacity: rgb(65, 115, 249, 0.9),
  yelow-color: #f5ff1b,
  gray-color: #ecf0f1,
  red-color: #ff0000,
  dark-color-menu: rgb(0, 0, 0, 0.8),
  select-color: rgb(202, 198, 197),
);
