.container {
  max-width: 1300px;
  width: 100%;

  margin: 0 auto;
  h1 {
    font-family: $font-title;
    text-align: center;
  }
}
.block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  label {
    font-size: 1rem;
    font-weight: bold;
  }
}

.mostrar_dia {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 2rem;
    margin-left: 1rem;
  }
}

.btn-generator {
  font-family: $font-btn;
  color: map-get($colors, second-color);
  width: 10rem;
  height: 3rem;
  border: 2px solid map-get($colors, second-color);
  background-color: map-get($colors, white-color);
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  &:hover {
    background-color: map-get($colors, second-color);
    color: map-get($colors, white-color);
    transition: all 1s ease;
    cursor: pointer;
  }
}
.day-container {
  border: 1px solid map-get($colors, red-color);
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.dia-seleccionado {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: map-get($colors, dark-color-menu);
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: map-get($colors, white-color);
  }
}
